<!DOCTYPE html>
<html>
<head>
	<title>Express Movies</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<div class="central">
		<% include ./partials/header %>
		<h1>Express Movie : Le site de ciné</h1>
		<div>
			Plutôt film ou série ?
		</div>
		<% include ./partials/footer %>	
	</div>
</body>
</html>