<!DOCTYPE html>
<html>
<head>
	<title>Express Movies</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<h1>Film culte</h1>
	<div>
		Bonjour tout le monde
	</div>
</body>
</html>