<!DOCTYPE html>
<html>
<head>
	<title>Express Movies</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	<h1>detail sur <%= title %></h1>
	<div>
		Le film est le num <%= movieId %>
	</div>
	<% include ./partials/footer %>
</body>
</html>